html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

body {
    font: 14px "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    //font: 14px Helvetica, Arial, sans-serif;
    background-color: #D7CCC8;
    color: #5D4037;


}

a {
    text-decoration: none;
    color: inherit;
}
body>header {
    padding: 2em 0 0em;
}

body>header {
    background-color: #795548;
    color: #ffffff;
/*    border-top: solid 2em #5D4037 */
}



#section-list {
    background-color: #5D4037;
    padding-left: 5em;
    margin-top: 1em;

}
#header-categories:after {
    display:block;
    clear:both;
    content:"";
}
#header-categories>li{
    position: relative;
    font-size: 1.1em;
    float: left;
/*    margin: 0.5em 0;*/
    padding: 0.6em 3em;
    border-right: solid 2px #795548;
    letter-spacing: 3px;
}
#header-categories>li:first-child{
    border-left: solid 2px #795548;
}
#header-categories li a {
    display: block;
}
#header-categories li ul {
    padding: 0.6em 3em;
    position:absolute;
    top:2.7em;
    left:0px;
    display: none;
    background-color: #3f1b0f;
    opacity: 0.9;

}

#header-categories li:hover {
    background-color: #3f1b0f;
}
#header-categories li:hover ul {
    display: block;
}

ul {
    list-style: none;
}

time {
    color: #727272;
}
#title-wrap
{
    padding: 0 5em 0 5em;
}
#title {
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 5px;
    margin-bottom: 0.5em;
}
#title>a:hover, #title>a:focus  {
	text-decoration: none;
	color: #ffffff;
}
#container {
	width:1200px;
	margin: 0 auto;
	overflow: hidden;
}

@media screen and (max-width: 1260px) {
	#container {
		margin: 0 30px;
		width: 94%;
		
	}
}

@media screen and (max-width: 990px) {
	#container {
		margin-top: 2em;

	}
}

@media screen and (max-width: 600px) {
	#container {
		margin: 0;
		width: 100%;
	}
}
#breadcrumbs {
    margin: 0.5em 0 0 0.5em;
}
#main {
/*    display: inline; */
    float: left;
    width: 900px;
    margin: 1em 0 0;
/*    padding-bottom: 150px; */
}

@media screen and (max-width: 1260px){
	#main {
		width: 70%;

	}
}
@media screen and (max-width: 990px){
	#main {
		width: 100%;
		float: none;
	}
}

#sidebar {
    float: right;
    overflow: hidden;
/*    display: inline; */
    width: 270px;
    margin: 1em 0 0;
}

@media screen and (max-width: 990px) {
	#sidebar{
		margin-top: 5em;
		float: none;
		width: 100%;
	}
}
#sidebar>section {
	background-color: #ffffff;
	padding: 0.5em 1em;

}

.nav-wrap {
    padding-bottom: 1.5em;
}

.nav-wrap> h1 {
    padding-bottom: 0.5em;
    border-bottom: solid 2px #D7CCC8;
    font-weight: bold;
}

.nav-wrap li {
    margin: 0.5em 0 0.5em 1em;
}

.article-title {
    font-size: 1.5em;
    font-weight: bold;
/*    color: #817c7c;
*/
}
.article-header {
    border-bottom: solid 2px #D7CCC8;
    padding-bottom: 0.5em;
}

#main>article {
    background-color: #ffffff;
    margin-top: 2px;
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
}

@media screen and (max-width: 600px) {
	#main>article {
		margin-bottom: 2px;
	}
}

.article-header {
    margin-bottom: 1em;
}

#footer {
    background-color: #5D4037;
    color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 5em;
    margin-bottom: 0;
}
#footer>div {

    
}

.article-entry h1,
.article-entry h2 {
    color: #817c7c;
    padding: 1em 0 0 0;
}

.article-entry h1 {
    font-size: 1.4em;
    font-weight: bold;
}

.article-entry h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.article-entry p {
    line-height: 1.5em;
}

.article-entry * {
    margin: 0.5em 0;
}

.article-sub {
    overfrow:hidden;
}
.article-sub {
    overflow:hidden;
}
.article-tags{
    float:left;
}
.article-time{
    float:right;
}

a:hover{
    color: #258fb8;
    text-decoration: underline;
}
