      <aside id="sidebar">
        <section>
          <nav id="side-tag-wrap" class="nav-wrap">
            <h1>Tags</h1>
            <ul class="tags">

		    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
		    <li>
			    <a href="/tags/{{ $name | urlize }}">{{ $name }}</a> 
		    </li>
		    {{ end }}
            </ul>
          </nav>
	  <nav class="nav-wrap">
		  <h1>Profile</h1>
		  <div>
			  <img src="{{ .Site.BaseURL }}img/profile.jpg">
		  </div>
	  </nav>
        </section>
      </aside>
